:root {
  --primary-color-text-headline: #020826;
  --primary-background: #f9f4ef;
  --primary-text-paragraph: #b8c1ec;
  --primary-background-button: #7a6947;
  --primary-text-button: #fffffe;
  --primary-focus-input: #8c7851;
}
